* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ara.ara.acx -text
/apertium-ara.ara.dix -text
/apertium-ara.ara.rlx -text
/apertium-ara.pc.in -text
/apertium-ara.post-ara.dix -text
/ara.prob -text
/configure.ac -text
/modes.xml -text
